.chart-container {
  display: flex;
  align-items: end;
  position: relative;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.export-btn {
  position: absolute;
  top: 0;
  left: 38px;
  z-index: 1;
}

.export-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.warning-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.u-select {
  pointer-events: all;
  cursor: grabbing;
}

.chart-ranger {
  margin: 0 75px;
}

.chart-ranger .u-select {
  pointer-events: all;
  cursor: grabbing;
}
.chart-ranger .u-grip-l,
.chart-ranger .u-grip-r {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.7);
  border: 1px solid #666;
  cursor: ew-resize;
}
.chart-ranger .u-grip-l { left: -5px; }
.chart-ranger .u-grip-r { right: -5px; }

#tooltip {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  margin: 0.75rem;
  color: #fff;
  z-index: 10;
  pointer-events: none;

  .date {
    margin-bottom: 0.25rem;
  }
  
  .value {
    font-weight: bold;
    text-wrap: nowrap;
  }
}