.export-btn {
  margin-left: auto;
}

.export-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.export-btn {
  margin: 1rem 0;
  width: 100%;
}

.warning-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}